---
layout: default
---

<div class="intro--wrapper">
  <div class="intro--content">

    <h1><span>Casey Wight</span></h1>
    <h2>Front-End Developer <br>&amp; UX/UI Engineer</h2>

    <div class="social">
      <a href="#"><img src="{{ site.url }}/assets/twitter.svg" alt="Twitter" />cwightrun on Twitter</a>
      <a href="#"><img src="{{ site.url }}/assets/github.svg" alt="Github" />cwightrun on Github</a>
      <!-- <a href="#"><img src="{{ site.url }}/assets/dribbble.svg" />Casey Wight on Dribbble</a> -->
      <a href="#"><img src="{{ site.url }}/assets/linkedin.svg" />Casey Wight on LinkedIn</a>
    </div>

  </div>
</div>

<div>
  <h2>I'm passionate, dedicated, and enthusiastic.</h2>

</div>

<div class="showcase">

  <h2>Some work I've done.</h2>

  <ul>
    <li>
      <h3>Pinterest Careers</h3>
      <img src="http://www.dummyimage.com/640x360" />
      <p>Sed plane dicit quod intellegit. Quid censes in Latino fore.</p>
      <p><a href="https://careers.pinterest.com">Visit &raquo;</a>
    </li>
    <li>
      <h3>Pinterest Engineering</h3>
      <img src="http://www.dummyimage.com/640x360" />
      <p>Sed plane dicit quod intellegit. Quid censes in Latino fore.</p>
      <p><a href="https://engineering.pinterest.com">Visit &raquo;</a>
    </li>
    <li>
      <h3>Ixia</h3>
      <img src="http://www.dummyimage.com/640x360" />
      <p>Sed plane dicit quod intellegit. Quid censes in Latino fore.</p>
      <p><a href="#">Visit &raquo;</a>
    </li>
    <li>
      <h3>Pantheon</h3>
      <img src="http://www.dummyimage.com/640x360" />
      <p>Sed plane dicit quod intellegit. Quid censes in Latino fore.</p>
      <p><a href="#">Visit &raquo;</a>
    </li>
    <li>
      <h3>Pantheon</h3>
      <img src="http://www.dummyimage.com/640x360" />
      <p>Sed plane dicit quod intellegit. Quid censes in Latino fore.</p>
      <p><a href="#">Visit &raquo;</a>
    </li>
    <li>
      <h3>Pantheon</h3>
      <img src="http://www.dummyimage.com/640x360" />
      <p>Sed plane dicit quod intellegit. Quid censes in Latino fore.</p>
      <p><a href="#">Visit &raquo;</a>
    </li>
  </ul>

</div>

<!-- {{ content }} -->
